<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personagens de Rick and Morty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personagens</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let char of characters" [button]="true" (click)="showDetails(char.id)">
      <ion-avatar slot="start">
        <img [src]="char.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ char.name }}</h2>
        <p>{{ char.species }} - {{ char.status }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais personagens...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>