<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sobre o Projeto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card class="about-card">
      
      <ion-avatar class="profile-avatar">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-avatar>

      <ion-card-header>
        <ion-card-title>{{ estudante.name }}</ion-card-title>
        <ion-card-subtitle>{{ estudante.curso }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>Email</h2>
              <p>{{ estudante.email }}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="globe-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>Website</h2>
              <p>{{ estudante.website }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      
    </ion-card>
  </div>
</ion-content>